---
import Layout from "../../layouts/Layout.astro";
import TeamGrid from "../../components/TeamGrid.astro";
import { config } from "../../lib/config.ts";
import { fetchCoreTeam, fetchPublicationContributors } from "../../lib/nva.ts";

const { cristin_project_id } = config.nva;

const rawTeam = await fetchCoreTeam(cristin_project_id);
const coreTeam = rawTeam.map(p => ({
  name: p.name,
  institution: p.institution.nb,
  topInstitution: p.topInstitution.nb,
  orcid: p.orcid,
}));

const coreIds = new Set(rawTeam.map(p => p.cristinId));
const contributors = await fetchPublicationContributors(cristin_project_id, coreIds);
---

<Layout title="Folk" activePage="folk" lang="no">
  <div class="page-header">
    <div class="page-header-inner">
      <h1>Prosjektteamet</h1>
      <p>Kjerneteam og bidragsytarar frå NTNU, NINA, UiB og NMBU.</p>
    </div>
  </div>

  <TeamGrid
    coreTeam={coreTeam}
    contributors={contributors}
    headingCore="Kjerneteam"
    headingContrib="Bidragsytarar"
  />
</Layout>
