---
import Layout from "../../layouts/Layout.astro";
import TeamGrid from "../../components/TeamGrid.astro";
import { config } from "../../lib/config.ts";
import { fetchCoreTeam, fetchPublicationContributors } from "../../lib/nva.ts";

const { cristin_project_id } = config.nva;

const rawTeam = await fetchCoreTeam(cristin_project_id);
const coreTeam = rawTeam.map(p => ({
  name: p.name,
  institution: p.institution.en,
  topInstitution: p.topInstitution.en,
  orcid: p.orcid,
}));

const coreIds = new Set(rawTeam.map(p => p.cristinId));
const contributors = await fetchPublicationContributors(cristin_project_id, coreIds);
---

<Layout title="People" activePage="folk" lang="en">
  <div class="page-header">
    <div class="page-header-inner">
      <h1>Project team</h1>
      <p>Core team and contributors from NTNU, NINA, UiB and NMBU.</p>
    </div>
  </div>

  <TeamGrid
    coreTeam={coreTeam}
    contributors={contributors}
    headingCore="Core team"
    headingContrib="Contributors"
  />
</Layout>
